ADF/pipeline/copy_from_RestApi.json
{
	"name": "copy_from_RestApi",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ajaysinha-key-vault-dev.vault.azure.net/secrets/api-key-KV/acb978e2e2184c288b2b9ed8006ce1b6?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_RestResource_Source",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@activity('Web1').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "json_source_info",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat('airlines','/Date_Part=', formatDateTime(utcNow(),'yyyy-MM-dd'),'/airlines.json')",
								"type": "Expression"
							},
							"container": "manualfiles"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-17T11:53:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}